<!DOCTYPE html>
<html>
<head>
  <title>My Status App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
</style>
</head>
<body> 

  <div class="home-page">
  	<h1>POST A STATUS!!!!</h1>
    <form method="POST" action="/results">
    	<p>Username: <input type="text" name="username"></p>
    	<p>Status: <input type="text" name="message"></p>
    	<input type="submit">
    </form>
  </div>

</body>
</html>